doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles.css")
    body 
        h1 METODO 1
        .grid-container 
            .grid-item: img(src="images/aprende-1.png")    
            .grid-item: img(src="images/aprende-2.png")    
            .grid-item: img(src="images/aprende-3.png")    
            .grid-item: img(src="images/aprende-4.png")    
            .grid-item: img(src="images/aprende-5.png")    
            .grid-item: img(src="images/aprende-6.png")    
            .grid-item: img(src="images/aprende-3.png")    
            .grid-item: img(src="images/aprende-2.png")    
        h1 METODO 2
        .grid-container 
            .grid-item: img(src="images/aprende-1.png")    
            .grid-item: img(src="images/aprende-2.png")    
            .grid-item: img(src="images/aprende-3.png")    
            .grid-item: img(src="images/aprende-4.png")    
            .grid-item: img(src="images/aprende-6.png")    
            .grid-item: img(src="images/aprende-5.png")    
            .grid-item: img(src="images/aprende-3.png")    
            .grid-item: img(src="images/aprende-2.png")    

        .menu


        script(src="index-dist.js") 